!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Let's play Masao!
  body
    h1 複数正男ビューア
    p#message
    p click!
    menu
      ul#masaolist
    section#masaogame
